@import 'colors.css';

.header-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.header-buttons .buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.header-buttons .buttons a button {
    font-size: 18px;
    color: var(--white);
    background-color: var(--grey-light);
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: background-color 0.3s; /* добавляем плавный переход для изменения фона */
}

/* При нажатии на кнопку */
.header-buttons .buttons a button:active {
    background-color: var(--grey-light); /* меняем фон на темный серый или другой цвет, чтобы создать эффект нажатия */
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2); /* добавляем внутреннюю тень, чтобы создать эффект нажатия */
}

/* Если вы хотите изменить вид не нажатых кнопок после нажатия на одну из них (например, чтобы сделать их впуклыми) */
.header-buttons .buttons a button:not(:active) {
    background-color: var(--grey-light); /* возвращаем стандартный цвет фона для неактивных кнопок */
    box-shadow: none; /* убираем тень */
}

.request-container {
    width: 100%;
    min-height: 750px;
    max-height: 10000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--grey);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.request-container .request {
    display: flex;
    flex-direction: row;
    background-color: var(--request-admin-container);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.right-container .top {
    margin: 0 10px;
}

.right-container .text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.question-item{
    margin: 10px;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.request .ava-img {
    width: 10%;
}

.request .ava-img  img{
    max-width: 90%;
    max-height: 90%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.request .right-container {
    width: 90%;
}


