/* Стили для контейнера */


.title {
    text-align: center; /* Выравнивание по центру */
    margin: 20px 0;
}

/* Стили для заголовка */
.title p {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; /* Выравнивание по левому краю */
}

/* Стили для основного текста */
.text h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left; /* Выравнивание по левому краю */
}

.text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left; /* Выравнивание по центру */
}