.content {
    display: block;
    min-height: 100vh;
}
.content section {
    padding: 10px calc((100vw - 1300px) / 2);
}

@media only screen and (max-width: 1310px) {
    .content section {
        padding: 10px;
    }
}