@import 'colors.css';

.footer {
    box-shadow: 0 2px 4px rgba(var(--black), 0.4);
}

.footer-container {
    background-color: var(--grey);
    padding: 20px 10%;
}

.footer-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-blocks p {
    padding-top: 10px;
    font-size: 16px;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.footer-items a {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    padding: 0 1%;
    font-size: 18px;
}