@import 'colors.css';

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
  background-color: var(--grey-light);
}

.header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(var(--black), 0.4);
}

.header-container {
    background-color: var(--grey);
    padding: 20px calc((100vw - 1300px) / 2);

    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo div {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.header-logo img {
    height: 100%;
    object-fit: cover;
    border-radius: 30%;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.header-logo a {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    font-size: 32px;
}

.header-items {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.header-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-user div {
    margin-left: 20px;
}

.header-user a,
.header-items a {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    padding: 0 1%;
    font-size: 24px;
}

.header-items-menu-img {
    display: none;
    width: 60px;
    height: 60px;
}

.header-user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.header-user-data p,
.header-user-data a {
    font-size: 18px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 14ch;
}

.header-items-menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-user-avatar {
    width: 60px;
    height: 60px;
}

.header-user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30%;
  box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.header-items-container {
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    font-size: 40px;
    background-color: var(--grey);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header-items-container a {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    font-size: 48px;
}

@media only screen and (max-width: 1320px) {
    .header-container {
        padding: 20px;
    }
}
@media only screen and (max-width: 930px) {
    .header-items a {
        display: none;
    }

    .header-items-menu-img {
        display: block;
    }
}