@import 'colors.css';

body {
  font-family: "Trebuchet MS", sans-serif;
  color: var(--white);
  background-color: var(--grey-light);
}

.header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(var(--black), 0.4);
}

.header-container {
    background-color: var(--grey);
    padding: 20px 10%;

    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30%;
  box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.header-logo a {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    padding-left: 8%;
    font-size: 28px;
}

.header-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
}

.header-items a {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    padding-left: 3%;
    font-size: 24px;
}

.header-items img {
    display: none;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.header-items-container {
    font-size: 40px;
    width: 100%;
    height: 100vh;
    background-color: var(--grey);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header-items-container a {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    font-size: 48px;
}

@media only screen and (max-width: 980px) {
    .header-container {
        padding: 20px;
    }
}
@media only screen and (max-width: 740px) {
    .header-items a {
        display: none;
    }
    .header-items img {
        display: block;
    }
}