@import 'colors.css';

.server-request-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.server-request {
    width: 50%;
    background-color: var(--grey);
    padding: 20px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.server-request h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

.server-image {
    width: 100%;
}

.server-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.server-description {
    padding: 16px 0;
    font-size: 18px;
}

.server-request-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.server-request-players {
    display: flex;
    align-items: center;
}

.server-request-players p {
    padding-right: 10px;
    font-size: 18px;
}

.server-request-players div {
    width: 30px;
    height: 30px;
}

.server-request-players img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.server-request-navigation button {
    font-size: 18px;
    background-color: var(--white);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

@media only screen and (max-width: 930px) {
    .server-request-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .server-request {
        width: 100%;
    }
}