@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&family=Pixelify+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

::-webkit-scrollbar {
  background: rgb(32, 29, 29);
}

::-webkit-scrollbar-thumb {
  background: #FF7F66;
  border-radius: 20px;
}

body {
  background: rgb(32, 29, 29);
}

header {
  position: fixed;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 4rem;
  background: rgb(32, 29, 29);

}

header img {
  float: left;
  border-radius: 5px;
}

header ul {
    display: inline-block;
}

header ul li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

header ul li a {
  color: #FF7F66;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.vector-down {
  float: none;
  vertical-align: middle;
  width: 20px;
  filter: brightness(1000%);
}

.language:hover .vector-down {
  transform: rotate(180deg);
  transition: 0.5s;
}

nav {
  left: 50%;
  position: absolute;
  background: #fff;
  opacity: 0;
  transition: .5s;
  pointer-events: none;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.078);
  transform: translateX(-50%);
}

.smena-language{
  position: relative;
  float: left;
  list-style-type: none;
  margin-left: 30px;
  align-items: center;
}

.left{
    display: flex;
    align-items: center;
}

.center{
    margin-right: 38px;
}

.language{
  display: inline-block;
  text-decoration: none;
  color: #FF7F66;
  width: 40px;
  line-height: 20px;
  vertical-align: middle;
}

.smena-language:hover nav {
  opacity: 1;
  pointer-events: auto;
}

.lang {
  /* border: 1px solid #000; */
  text-align: center;
  padding: 15px;
  font-size: 16px;
  width: 120px;
  opacity: 1;
}

.lang:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}

.strelkaDown{
  height: 30px;
}

.avatarUser{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.logout{
    float: right;
    display: block;
    width: 50px;
    color: aqua;
    margin-top: 5px;
}

.info {
  display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url("../image/photo-main.png");
  height: 700px;
  z-index: -2;
}

.info h1 {
  color: #FF7F66;
  text-shadow: 0px 0px 10px#FF7F66;
  font-size: 80px;
}

.info p {
  font-size: 20px;
}

.shop-catalog {
  color: white;
  text-align: center;
  margin-top: 60px;
}


.basket {
  float: right;
  margin-right: 30px;
  width: 60px;
  height: 60px;
  background: #FF7F66;
  box-shadow: 0px 0px 10px#FF7F66;
  border-radius: 500px;
}

.modal-basket {
  width: 60%;
  height: 360px;
  background: #fff;
  box-shadow: 0px 0px 10px #fff;
  border-radius: 60px;
  margin: auto;
}

.modal-basket h1 {
  padding: 30px;
}

.tovar-basket {
  border: 1px solid#222223;
  height: 120px;
}

.price-sell {
  margin: 15px;
  float: right;
  margin-right: 30px;
}

.modal-basket {
  text-align: center;
}

.modal-basket input {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
}

.modal-basket a {
  color: #fff;
  border-radius: 200px;
  background: #FF7F66;
  text-decoration: none;
  box-shadow: 0px 0px 10px #FF7F66;
  padding: 10px;

}

.products {
  text-align: center;
}

.card-product {
  /* border: 1px solid rgb(196, 196, 196); */
  box-shadow: 0px 10px 10px rgb(189, 189, 189);
  text-align: center;
  display: inline-block;
  margin: 60px;
  padding: 10px;
  border-radius: 25px;
}

.card-product h3 {
  color: white;
}

.card-product h4 {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  width: 180px;
  height: 40px;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(139, 113, 255);
  transition-duration: .3s;
}

.cartIcon {
  width: 14px;
  height: fit-content;
}

.cartIcon path {
  fill: white;
}

.button:active {
  transform: translate(2px, 0px);
  box-shadow: 0px 1px 0px rgb(139, 113, 255);
  padding-bottom: 1px;
}

.container-two h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  color: #FF7F66;
  text-shadow: 0px 0px 10px#FF7F66;
  font-size: 50px;
}

.bottom-info {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-size: 30px;
}

.container {
  font-size: 0;
  text-align: center;
  width: 100%;
  /* background: aqua; */
}

#activityCard{
  flex-direction: column;
  justify-content: center;
}

.cardCommand {
  display: inline-block;
  vertical-align: top;
  background-color: #222831;
  margin: 30px;
  min-width: 250px;
  height: 31rem;
  border-radius: 5px;
  color: white;
}

.card__name{
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 2em;
}

.card__p{
  margin-top: 30px;
  margin-bottom: 30px;

}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px #FF7F66;
}

.infoCard {
  width: 40%;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  background: #222223;
  padding: 15px;
  margin-bottom: 30px;
}

.infoCard img{
  display: block;
  margin: auto;
}

.infoCard h1 {
  display: inline-block;
  line-height: 40px;
  padding: 10px;
  font-size: 30px;
  vertical-align: top;
  color: #fff;
}

.infoCard p {
  /* margin-top: 15px; */
  text-align: left;
  /* font-size: 12px; */
  display: inline-block;
  color: #fff;
}

.information-p{
  font-size: 16px;
}


.container-three h2 {
  font-size: 60px;
  color: #FF7F66;
  text-shadow: 0px 0px 10px#FF7F66;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

#cardImageUser{
  text-align: center;
}

.cardCommand {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  background-color: #222831;
  margin: 30px;
  min-width: 250px;
  height: 31rem;
  border-radius: 5px;
  color: white;
}

.card__name{
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.card__p{
  margin-top: 15px;
  margin-bottom: 30px;

}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 10px 50px #FF7F66;
}

.buy{
  text-decoration: none;
  background: #FF7F66;
  color: white;
  border-radius: 500px;
  padding: 5px;
}

.decor {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  background: white;
  border-radius: 30px;
  opacity: 0;
  transition: .7s;
}
.form-left-decoration, .form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #f69a73;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.form-left-decoration:before {
  top: -20px;
}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form-inner {
  padding: 50px;
}
.form-inner input, .form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}
.form-inner textarea {
  resize: none;
}
.form-inner h3 {
  margin-bottom: 30px;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons ion-icon {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #FF7F66);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover ion-icon {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}

.container-four{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  color: #fff;
}




.footer {
  position: relative;
  margin-top: 120px;
  /* bottom: 0;
  left: 0;
  right: 0;
  width: 100%; */
  background: #222223;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}