@import 'colors.css';

.trash-container {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(var(--black), 0.2);
    backdrop-filter: blur(2px);
}

.trash {
    background-color: var(--grey);
    width: 830px;
    height: 520px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.trash-form {
    background-color: var(--grey-light);
    height: 100%;
    width: calc(40% - 10px);
    padding: 20px;

    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.trash-products-container {
    background-color: var(--grey-light);
    height: 100%;
    width: calc(60% - 10px);
    padding: 12px 10px 12px 20px;

    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.trash-products {
    height: 100%;
    width: 100%;
    padding-right: 10px;
    overflow: auto;
}

.trash-products::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
    padding-right: 6px;
}

.trash-products::-webkit-scrollbar-track {
    background-color: transparent;
}

.trash-products::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 6px;
}

.trash-product {
    background-color: var(--grey);
    width: 100%;
    height: 100px;
    margin: 8px 0;
    padding: 12px;
    overflow: hidden;

    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.trash-product-arrow-image {
    cursor: pointer;
}

.trash-form {
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

.trash-form input {
    border-radius: 16px;
    outline: none;
    padding: 2% 4%;
    margin-bottom: 18px;
    width: 100%;
    background-color: var(--white);
}

.trash-form a {
    height: 50px;
    width: 80%;
    margin-top: auto;
    align-self: center;
}

.trash-form button {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    border-radius: 16px;
    cursor: pointer;
}

.trash-product-top {
    height: 76px;
    display: flex;
    justify-content: space-between;
}

.trash-product-images {
    position: relative;
    height: 100%;
}

.trash-product-image {
    height: 100%;

    object-fit: cover;
    border-radius: 20%;
    box-shadow: 0 4px 8px rgba(var(--black), 0.4);
}

.trash-product-trash {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 14px;
    transition: opacity 0.2s ease-in-out;
}

.trash-product-info {
    width: auto;
    font-size: 22px;
    padding: 4px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trash-product-arrow {
    height: 50%;
    margin-left: auto;
    margin-right: 8px;
    align-self: center;
}

.trash-product-arrow img {
    height: 100%;
}

.trash-product-description {
    padding: 18px 12px 12px 12px;
    font-size: 18px;
}

.trash-product-images:hover .trash-product-trash {
  opacity: 1;
}

@media only screen and (max-width: 830px) {
    .trash-container {
        overflow: auto;
        width: 100vw;
    }

    .trash {
        flex-direction: column-reverse;
        height: auto;
        border-radius: 0px;

        width: 100vw;

        position: fixed;
        top: 0;
        left: 0;
    }

    .trash-products-container,
    .trash-form {
        width: calc(100vw - 40px);
    }

    .trash-form {
        margin-top: 20px;
    }

    .trash-form a {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 630px) {
    .trash {
        padding:10px
    }

    .trash-products-container,
    .trash-form {
        width: calc(100vw - 20px);
    }

    .trash-form {
        margin-top: 10px;
    }

    .trash-form a {
        margin-top: 10px;
    }

    .trash-product-info {
        font-size: 18px;
    }
}