{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/agreement.css') }}">
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
    <section class="border">
        <div class="title">
            <p>ПРАВИЛА И УСЛОВИЯ</p>
        </div>
        <div class="text">
            <h4>Описание товара</h4>
            <p>
                Перед совершением покупки услуг, пожалуйста удостоверьтесь в том, что у вас имеется четкое представление о предоставляемых возможностях. Мы предоставляем детальное и полное описание продукта, включая его срок действия, функциональные характеристики и прочие существенные аспекты, которые могут быть релевантными для вас.
            </p>

            <h4>Полное описание</h4>
            <p>
                Доступ для сервера Minecraft представляет собой временный доступ к определенным функциям или ресурсам сервера на определенный период времени. Длительность доступа, функциональные возможности, а также любые дополнительные условия или ограничения (например, количество игроков, доступ к определенным мирам или функциям), являются частью описания продукта. Покупатели могут ознакомиться с полными техническими характеристиками, условиями использования и любыми другими важными деталями на странице продукта перед совершением покупки. Купив данный продукт, вы подтверждаете, что полностью ознакомились с товаром, его характеристиками и условиями, и соглашаетесь с ними.
            </p>

            <h4>Условия возврата</h4>
            <p>
                Покупателям предоставляется возможность осуществить возврат средств за приобретенные услуги в течение 7 дней с момента совершения покупки. При этом возврат производится исключительно в том случае, если выявленные проблемы связаны с нашей деятельностью и приобретенная услуга не соответствует заявленным техническим и функциональным характеристикам.
            </p>
            <p>
                Для того чтобы возврат был возможен, услуга должна оставаться неиспользованной. Пожалуйста, возвращайте товар в том состоянии, в котором он был получен, и соблюдайте установленные временные рамки для возврата.
            </p>

            <h4>Возможные исключения</h4>
            <p>
                После активации доступа возврат средств становится невозможным. Также имейте в виду, что в некоторых случаях могут применяться исключения или ограничения, подробно описанные в наших условиях использования.
            </p>

            <h4>Процесс отмены и возврата</h4>
            <p>
                Если вы решите отменить свою покупку, обратитесь в нашу службу поддержки. Мы предоставим вам инструкции по возврату средств и необходимые формы, которые нужно заполнить для обработки возврата.
            </p>

            <h4>Право на аннулирование услуг при нарушении правил пользователем</h4>
            <p>
                При нарушении пользователем наших правил проекта, мы имеем право безвозвратно аннулировать любую услугу, которую пользователь приобрел у нас на веб-сайте. Кроме того, в зависимости от характера нарушения, мы оставляем за собой право не возвращать денежные средства, уплаченные пользователем за данную услугу. Это право сохраняется с целью обеспечения честности и порядка среди наших клиентов, а также для защиты интересов нашей компании и соответствия стандартам предоставляемых услуг.
            </p>

            <h4>Способы связи</h4>
            <p>
                Если у вас возникли вопросы или проблемы с возвратом или отменой заказа, пожалуйста, свяжитесь с нашей службой поддержки по указанной контактной информации на нашем веб-сайте.
            </p>

            <h4>Правила использования доступа</h4>
            <p>
                Все покупатели обязаны ознакомиться с правилами использования доступа перед их активацией. Это поможет избежать недопонимания или возможных проблем в будущем.
            </p>

            <h4>Правила использования доступа</h4>
            <p>
                Все покупатели обязаны ознакомиться с правилами использования доступа перед их активацией. Это поможет избежать недопонимания или возможных проблем в будущем.
            </p>

            <h4>Политика конфиденциальности и безопасности</h4>
            <p>
                Мы обеспечиваем полную конфиденциальность и безопасность ваших данных. Все личные данные и информация о покупках обрабатываются с соблюдением высоких стандартов безопасности, а также мы гарантируем возврат средств в случае, если проблема произошла с нашей стороны и все условия возврата были соблюдены со стороны покупателя.
            </p>

            <h4>Юридическая ответственность</h4>
            <p>
                Наша политика возврата и отмены соответствует действующему законодательству. Мы стремимся обеспечить прозрачность и честность во всех взаимоотношениях с нашими клиентами.
            </p>

            <h4>Информирование покупателей</h4>
            <p>
                Мы уделяем большое внимание информированию наших покупателей. Все условия, правила и требования четко и понятно описаны на нашем веб-сайте, чтобы обеспечить максимальную прозрачность и удобство для наших клиентов.
            </p>

            <h4>Условия и сроки получения доступа</h4>
            <p>
                После оформления услуги, услуга будет предоставлена в течение 48 часов с момента подтверждения покупки.
            </p>

            <h4>Доступные регионы и страны для предоставления услуги</h4>
            <p>Азербайджан</p>
            <p>Азербайджан</p>
            <p>Албания</p>
            <p>Андорра</p>
            <p>Армения</p>
            <p>Армения</p>
            <p>Беларусь</p>
            <p>Беларусь</p>
            <p>Бельгия</p>
            <p>Босния и Герцеговина</p>
            <p>Болгария</p>
            <p>Великобритания</p>
            <p>Венгрия</p>
            <p>Германия</p>
            <p>Греция</p>
            <p>Грузия</p>
            <p>Дания</p>
            <p>Ирландия</p>
            <p>Исландия</p>
            <p>Испания</p>
            <p>Италия</p>
            <p>Казахстан</p>
            <p>Казахстан</p>
            <p>Кипр</p>
            <p>Косово</p>
            <p>Кыргызстан</p>
            <p>Латвия</p>
            <p>Лихтенштейн</p>
            <p>Литва</p>
            <p>Люксембург</p>
            <p>Мальта</p>
            <p>Молдова</p>
            <p>Молдова</p>
            <p>Монако</p>
            <p>Нидерланды</p>
            <p>Норвегия</p>
            <p>Польша</p>
            <p>Португалия</p>
            <p>Россия</p>
            <p>Россия</p>
            <p>Румыния</p>
            <p>Сан-Марино</p>
            <p>Сербия</p>
            <p>Северная Македония</p>
            <p>Словакия</p>
            <p>Словения</p>
            <p>Таджикистан</p>
            <p>Туркменистан</p>
            <p>Турция</p>
            <p>Турция</p>
            <p>Узбекистан</p>
            <p>Украина</p>
            <p>Финляндия</p>
            <p>Франция</p>
            <p>Хорватия</p>
            <p>Черногория</p>
            <p>Чехия</p>
            <p>Швейцария</p>
            <p>Швеция</p>
            <p>Эстония</p>

            <h4>Запрет на использование VPN или аналогичных сервисов</h4>
            <p>
                Для обеспечения прозрачности и надлежащего качества предоставляемых услуг, наша компания строго запрещает использование VPN (виртуальных частных сетей) или аналогичных сервисов для доступа к серверу Minecraft или любым другим услугам, которые мы предлагаем. Такие практики могут нарушать условия предоставления услуг и негативно сказываться на их стабильности. Для избежание потенциальных проблем и несоответствий, мы настоятельно рекомендуем всем пользователям уважать это правило. В случае выявления использования VPN или подобных сервисов, компания оставляет за собой право остановить или прекратить предоставление услуг без возможности возврата средств.
            </p>

            <h4>Каждый пользователь может иметь только один аккаунт.</h4>
            <p>
                В интересах поддержания порядка и прозрачности работы нашего веб-сайта, мы строго ограничиваем количество аккаунтов для каждого пользователя одним. Использование нескольких аккаунтов может нарушать наши правила и привести к блокировке всех созданных аккаунтов.
            </p>

            <h4>Продавец сохраняет за собой право вносить изменения</h4>
            <p>
                Продавец сохраняет за собой право вносить изменения в список регионов и стран, где предоставляется доступ, без предварительного уведомления Покупателя. Покупатель обязан уточнить данную информации
            </p>

            <p>Дата обновления 11.01.2024</p>

        </div>
    </section>

{% endblock %}
