<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Magatamy</title>
        <link rel="icon" href="{{ url_for('static', path='/image/logo-magatamy.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/null.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/form.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/trash.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/base.css') }}">
        {% block links %}{% endblock %}

        <script src="{{ url_for('static', path='/js/header.js') }}"></script>
        <script src="{{ url_for('static', path='/js/trash.js') }}"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {% macro items() %}
            <a href="/social">Соцсети</a>
            <a href="/shop">Магазин</a>
            <a href="/servers">Сервера</a>
            <a href="https://magatamy-2.gitbook.io/magatamy/">Вики</a>
        {% endmacro %}
        <div class="header">
            <div class="header-container">
                <div class="header-logo">
                    <div>
                        <img src="{{ url_for('static', path='/image/logo-magatamy.png') }}" alt="Logo">
                    </div>
                    <a href="/">Magatamy</a>
                </div>
                <div class="header-items">
                    {{ items() }}
                </div>
                <div class="header-user">
                    {%- if authorized -%}
                    <div class="header-user-data">
                        <div>
                            <img class="trash-image" src="{{ url_for('static', path='/image/bag.png') }}" alt="Bag icon">
                            <p>{{ username }}</p>
                        </div>
                        <a href="/api/v1/discord/logout">Выйти</a>
                    </div>
                    <div class="header-user-avatar">
                        <img src="{{ avatar_url }}">
                    </div>
                    {% else %}
                    <a href="/api/v1/discord/login">Войти</a>
                    {% endif %}
                    <div class="header-items-menu-img">
                        <img class="header-items-menu" src="{{ url_for('static', path='/image/menu.png') }}" alt="Menu">
                    </div>
                </div>
            </div>
        </div>
        <div class="header-items-container">
            {{ items() }}
        </div>
        <div class="form-container" style="display: none;">
            <div class="form"></div>
        </div>
        <div class="trash-container" style="display: none;">
            <div class="trash">
                <div class="trash-form">
                    <p>Промокод:</p>
                    <input type="text" placeholder="PROMO">
                    <a href="#"><button class="trash-button">Оплатить 0 руб.</button></a>
                </div>
                <div class="trash-products-container">
                    <div class="trash-products"></div>
                </div>
            </div>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <div class="footer-container">
                <div class="footer-blocks">
                    <div class="footer-icons">
                        <a href="https://discord.gg/FXJBEWRzCu" target="_blank"><img src="{{ url_for('static', path='/image/discord.png') }}" alt="Discord"></a>
                        <a href="https://www.youtube.com/@Magatamy" target="_blank"><img src="{{ url_for('static', path='/image/youtube.png') }}" alt="YouTube"></a>
                        <a href="https://www.tiktok.com/@magatamy" target="_blank"><img src="{{ url_for('static', path='/image/tik-tok.png') }}" alt="Tik Tok"></a>
                    </div>
                    <div class="footer-items">
                        <a href="/">Главная</a>
                        <a href="/agreement">Соглашение</a>
                        <a href="/policy">Политика</a>
                        {{ items() }}
                    </div>
                    <div class="footer-icons">
                        <a href="#" target="_blank"><img src="{{ url_for('static', path='/image/logo_new.svg') }}" alt="Pay"></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', path='/image/logo-maestro.png') }}" alt="Pay"></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', path='/image/logo-mastercard.png') }}" alt="Pay"></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', path='/image/logo-mir.png') }}" alt="Pay"></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', path='/image/logo-qiwi.png') }}" alt="Pay"></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', path='/image/logo-sberbank.png') }}" alt="Pay"></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', path='/image/logo-visa.png') }}" alt="Pay"></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', path='/image/logo-webmoney.png') }}" alt="Pay"></a>
                        <a href="#" target="_blank"><img src="{{ url_for('static', path='/image/logo-yamoney.png') }}" alt="Pay"></a>
                    </div>
                    <p>© 2023 - 2024 Magatamy</p>
                </div>
            </div>
        </div>
    </body>
</html>