{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/index.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', path='/js/card-staff.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="welcome-container">
        <img src="{{ url_for('static', path='/image/minecraft_title.png') }}" alt="Magatamy title">
    </section>
    <section class="about-the-server">
        <h3>О проекте Magatamy</h3>

        <div class="info-container">
            <div class="info-content-first">
                 <p>"Магатами" - это уникальный и захватывающий майнкрафт проект, предлагающий игрокам два уникальных сервера для разнообразного и увлекательного опыта игры. Проект охватывает два главных направления: "Чистая Ванила" и "Ванилла Плюс".</p>
            </div>
        </div>
        <div class="info-container">
            <div class="info-image">
                <img src="{{ url_for('static', path='/image/vanilla-plus.png') }}" alt="">
            </div>
            <div class="info-content">
                <h2>Magatamy - Vanilla Plus:</h2>
                <p>Сервер "Ванилла Плюс" предоставляет игрокам расширенный опыт с использованием дополнительных модификаций и плагинов. Здесь вы найдете уникальные возможности, которые расширяют игровой процесс, добавляя новые блоки, предметы, мобы и функции. Этот сервер предназначен для тех, кто ищет больше возможностей для творчества и приключений в мире майнкрафта.</p>
                <div class="button">
                    <a href="/shop"><button>Подать заявку</button></a>
                </div>
            </div>

        </div>
        <div class="info-container reverse-image">
            <div class="info-image">
                <img src="{{ url_for('static', path='/image/vanilla.png') }}" alt="">
            </div>
            <div class="info-content">
                <h2>Magatamy - Vanilla:</h2>
                <p>На сервере "Чистая Ванила" игроки могут насладиться абсолютно чистым опытом майнкрафта без каких-либо модификаций и плагинов. Этот сервер создан для тех, кто ценит оригинальную механику игры и хочет погрузиться в мир блоков и приключений, не имея дела с модами.</p>
                <div class="button">
                    <a href="/shop"><button>Подать заявку</button></a>
                </div>
            </div>
        </div>
    </section>
    <section class="project-features">
        <h3>Особенности проекта</h3>

        <div class="project-features-content">
            <div class="project-features-box">
                <div class="features-box-image">

                </div>
                <div class="box-name">
                    <h2>Совмещение стилей</h2>
                </div>
                <div class="box-text">
                    <p>"Magatamy" предоставляет возможность игрокам выбирать между классическим опытом ванильного майнкрафта и более разнообразным опытом с использованием модов.</p>
                </div>
            </div>
            <div class="project-features-box">
                <div class="box-name">
                    <h2>Дружественное сообщество</h2>
                </div>
                <div class="box-text">
                    <p>Серверы "Magatamy" ориентированы на формирование дружественного и взаимно помогающего сообщества игроков. Здесь каждый может найти интересных собеседников, партнеров по приключениям и даже принять участие в совместных проектах.</p>
                </div>
            </div>
            <div class="project-features-box">
                <div class="box-name">
                    <h2>Регулярные обновления</h2>
                </div>
                <div class="box-text">
                    <p>Проект постоянно обновляется и совершенствуется с добавлением новых функций, исправлением багов и улучшением общего игрового опыта.</p></div>
                </div>
            </div>
            <h3>Cотрудники</h3>
            <div class="staff-container"></div>
        </div>
    </section>

{% endblock %}
