{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/agreement.css') }}">
{% endblock %}
{% block scripts %}
{% endblock %}
{% block content %}
    <section class="border">
        <div class="title">
            <p>ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</p>
        </div>
        <div class="text">
            <h4>Общие положения</h4>
            <p>
            1.1. Настоящая Политика определяет порядок обработки и защиты персональных данных пользователей, которые предоставляются при использовании наших услуг.
            </p>

            <h4>Цели сбора и обработки персональных данных</h4>
            <p>
            2.1. Сбор и обработка персональных данных осуществляются исключительно для выполнения обязательств перед Покупателем, предоставления доступа к серверу майнкрафт, а также для улучшения качества предоставляемых услуг.
            </p>

            <h4>Типы персональных данных</h4>
            <p>
            3.1. К типам персональных данных, которые могут обрабатываться, относятся: имя, фамилия, адрес электронной почты, контактный телефон и другая информация, предоставленная пользователем при оформлении заказа.
            </p>

            <h4>Способы сбора данных</h4>
            <p>
            4.1. Персональные данные собираются только с согласия пользователя и могут получаться при заполнении форм на нашем сайте или через другие каналы коммуникации.
            </p>

            <h4>Хранение и защита данных</h4>
            <p>
            5.1. Все персональные данные хранятся на защищенных серверах и могут быть использованы только авторизованными сотрудниками для выполнения своих обязанностей.
            </p>
            <p>
            5.2. Мы применяем соответствующие технические и организационные меры для защиты персональных данных от несанкционированного доступа, утраты, разрушения или распространения.
            </p>

            <h4>Права пользователей</h4>
            <p>
            6.1. Пользователи имеют право запрашивать доступ к своим персональным данным, а также требовать их изменения, удаления или ограничения обработки.
            </p>

            <h4>Согласие на обработку данных</h4>
            <p>
            7.1. При использовании наших услуг пользователь дает согласие на обработку своих персональных данных в соответствии с настоящей Политикой.
            </p>

            <h4>Изменения в политике</h4>
            <p>
            8.1. Настоящая Политика может быть пересмотрена и изменена компанией. Любые изменения будут опубликованы на нашем сайте с указанием даты последнего обновления.
            </p>

            <p>Дата обновления 11.01.2024</p>
        </div>
    </section>

{% endblock %}
