{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/servers.css') }}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <section class="servers-info">
        <div class="info-box">
            <div class="info-image">
                <img src="{{ url_for('static', path='/image/vanilla-plus-bok.png') }}" alt="Server Image">
            </div>
            <div class="info-text">
                <div class="info-name">
                    <h3>Magatamy Vanilla Plus</h3>
                </div>

                <div class="info-description">
                    <p>Добро пожаловать на уникальный сервер Minecraft - мир, где ваниль встречает инновации в проекте Vanilla Plus! Здесь каждый игрок погружается в захватывающий опыт игры, который сочетает в себе лучшие элементы ванильного мира и захватывающие дополнения.</p>
                    <p>Наши Минглы - собственная валюта сервера, которая открывает перед вами множество возможностей. Обнаружьте новые руды и создавайте эксклюзивную броню, которая заставит вас выделяться в толпе. Погрузитесь в мир кастомных предметов, таких как шахматы и шашки, придающих игре новый уровень увлекательности.</p>
                    <p>Наши тщательно разработанные предметы декора и музыкальные инструменты добавят неповторимую атмосферу вашему игровому пространству. От создания уютных уголков до виртуозных музыкальных выступлений - у нас есть всё!</p>
                    <p>Каждые три месяца наш сервер претерпевает глубокую трансформацию с новыми возможностями и испытаниями благодаря проходкам. Это мероприятие становится не только проверкой ваших навыков, но и возможностью засветиться перед всем сообществом.</p>
                    <p>Наш сервер - закрытый, полный талантливых ютуберов, готовых поделиться своими приключениями с вами. Участвуйте в событиях, создаваемых игроками и администрацией, получайте уникальные лорные предметы, собирайте тотемы и взлетайте на новые высоты вместе с нами.</p>
                    <p>Добро пожаловать в мир Vanilla Plus, где ваниль становится неповторимым опытом игры!</p>
                </div>

                <div class="info-button">
                    <a href="http://map-plus.magatamy.com:25573/" class="button-link"><button class="button">Карта Сервера</button></a>
                    <a href="https://magatamy.gitbook.io/magatamy-1/modifikacii/vanilla+" class="button-link"><button class="button">Модификации Сервера</button></a>
                    <a href="https://magatamy-1.gitbook.io/magatamy/" class="button-link"><button class="button">Вики Сервера</button></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
