{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/shop.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', path='/js/shop.js') }}"></script>
    <script src="{{ url_for('static', path='/js/form.js') }}"></script>
{% endblock %}
{% block content %}
    <section class="server-request-container">
        <div class="server-request">
            <h3>Magatamy Vanilla Plus</h3>
            <div class="server-image">
                <img src="{{ url_for('static', path='/image/test2.png') }}" alt="Server Image">
            </div>
            <p class="server-description">Тут типо описание сервера</p>
            <div class="server-request-navigation">
                <button class="button-vanilla-plus">Подать заявку</button>
                <div class="server-request-players">
                    <p>0</p>
                    <div>
                        <img src="{{ url_for('static', path='/image/user.png') }}" alt="Users">
                    </div>
                </div>
            </div>
        </div>
        <div class="server-request">
            <h3>Magatamy Vanilla</h3>
            <div class="server-image">
                <img src="{{ url_for('static', path='/image/test2.png') }}" alt="Server Image">
            </div>
            <p class="server-description">Тут типо описание сервера</p>
            <div class="server-request-navigation">
                <button class="button-vanilla">Подать заявку</button>
                <div class="server-request-players">
                    <p>0</p>
                    <div>
                        <img src="{{ url_for('static', path='/image/user.png') }}" alt="Users">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="servers-products">

        <h3>Товары</h3>
        <div class="products-container"></div>
    </section>
{% endblock %}
