{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/shop.css') }}">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', path='/js/shop.js') }}"></script>
    <script src="{{ url_for('static', path='/js/form.js') }}"></script>
{% endblock %}
{% block content %}
    <section class="server-request-container">
        <div class="server-request">
            <h3>Magatamy Vanilla Plus</h3>
            <div class="server-image">
                <img src="{{ url_for('static', path='/image/test2.png') }}" alt="Server Image">
            </div>
            <p class="server-description">Сервер "Ванилла Плюс" предоставляет игрокам расширенный опыт с использованием дополнительных модификаций и плагинов. Здесь вы найдете уникальные возможности, которые расширяют игровой процесс, добавляя новые блоки, предметы, мобы и функции. Этот сервер предназначен для тех, кто ищет больше возможностей для творчества и приключений в мире майнкрафта.</p>
            <div class="server-request-navigation">
                <button class="button-vanilla-plus">Подать заявку</button>
                <div class="server-request-players">
                    <p>0</p>
                    <div>
                        <img src="{{ url_for('static', path='/image/user.png') }}" alt="Users">
                    </div>
                </div>
            </div>
        </div>
        <div class="server-request">
            <h3>Magatamy Vanilla</h3>
            <div class="server-image">
                <img src="{{ url_for('static', path='/image/test2.png') }}" alt="Server Image">
            </div>
            <p class="server-description">На сервере "Чистая Ванила" игроки могут насладиться абсолютно чистым опытом майнкрафта без каких-либо модификаций и плагинов. Этот сервер создан для тех, кто ценит оригинальную механику игры и хочет погрузиться в мир блоков и приключений, не имея дела с модами.</p>
            <div class="server-request-navigation">
                <button class="button-vanilla">Подать заявку</button>
                <div class="server-request-players">
                    <p>0</p>
                    <div>
                        <img src="{{ url_for('static', path='/image/user.png') }}" alt="Users">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="servers-products">

        <h3>Товары</h3>
        <div class="products-container"></div>
    </section>
{% endblock %}
